---
import { TITLE } from "../global";
import MainLayout from "../layout/MainLayout.astro";
import Me from "../md/me.md";
---
<MainLayout title={TITLE}>
  <main>
    <Me />
  </main>
</MainLayout>

<!-- TODO: ?  -->